{% extends 'layouts/admin.twig' %}

{% block content %}

	<ul class="breadcrumbs el">
		<li><a href="/admin/">Home</a> /</li>
		<li class="end">{{ page_meta.title }}</li>
	</ul>

	<h1>{{ page_meta.title }}</h1>
	{% include 'DriverProfiles/admin/drivers/tabnav.twig' %}

	{% include 'admin/messages.twig' %}

	<form action="{{ self }}"
		  method="post"
		  class="style"
		  enctype="multipart/form-data">
		<div class="row">
			<label for="name">
				Name
			</label>
			<input type="text"
				   class="text"
				   name="name"
				   id="name"
				   value="{{ request.name is not empty ? request.name : driver.name }}"/>
		</div>

		<div class="row">
			<label for="driver_team">
				Team
			</label>
			<select name="team_id" id="driver_team">
				<option value="0">Select Team</option>
			{% for team in teams %}
				<option value="{{ team.id }}" {{ driver.team_id == team.id ? 'selected' }}>{{ team.name }}</option>
			{% endfor %}
			</select>
		</div>

		<div class="row">
			<label for="bio">
				Bio
			</label>
			<textarea name="bio"
					  class="simpletinymce"
					  id="bio">{{ request.bio is not empty ? request.bio : driver.bio }}</textarea>

		</div>

		{% if driver.image is not empty %}
			<div class="row">
				<label>Image</label>
				<img src="/{{ image_path }}/{{ driver.image }}" />
			</div>

			<div class="row">
				<label for="delete_image">
					Remove Image
				</label>
				<input type="checkbox"
					   id="delete_image"
					   name="delete_image"/>
			</div>
		{% endif %}
		<div class="row">
			<label for="image">
				Image
			</label>
			<input id="image"
				   type="file"
				   name="userfile"/>
		</div>

		<div class="row">
			<label>Visible</label>
			<input type="radio"
				   id="visible_yes"
				   value="1"
					{{ driver.visible ? 'checked' : '' }}
				   name="visible"/>
			<label for="visible_yes">Yes</label>

			<input type="radio"
				   id="visible_no"
				   value="0"
					{{ driver.visible == false ? 'checked' : '' }}
				   name="visible"/>
			<label for="visible_no">No</label>

		</div>

		<div class="row">
			<input type="hidden"
				   name="action"
				   value="update"/>
			<input type="hidden"
				   name="id"
				   value="{{ id }}"/>
			<button type="submit"
					name="submit"
					class="btn"
					value="update">Save</button>
		</div>
	</form>

{% endblock %}