{% extends 'layouts/admin.twig' %}

{% block content %}

	<ul class="breadcrumbs el">
		<li><a href="/admin/">Home</a> /</li>
		<li class="end">{{ page_meta.title }}</li>
	</ul>

	<h1>{{ page_meta.title }}</h1>
	{% include 'DriverProfiles/admin/drivers/tabnav.twig' %}

	{% include 'admin/messages.twig' %}

	<form action="" method="post">
		{% if drivers|length > 0 %}
			<table>
				<tr>
					<th>
						Name
					</th>
					<th>
						Image
					</th>
					<th>
						Team
					</th>
					<th>
						Visible
					</th>
					<th class="center">
						Edit
					</th>
					<th class="center">
						Delete
					</th>
				</tr>
				<tbody class="tabular ui-sortable">
				{% for driver in drivers %}
					<tr>
						<td>
							<a href="edit.php?id={{ driver.id }}">
								{{ driver.name }}
							</a>
						</td>
						<td>
							{% if driver.image|length %}
								<img src="/{{ thumbnail_path }}/{{ driver.image }}" alt="">
							{% endif %}
						</td>
						<td>
							<a href="/plugins/DriverProfiles/admin/teams/edit.php?id={{ driver.team.id }}">{{ driver.team.name }}</a>
						</td>
						<td>
							{% if driver.visible %}
								<i class="fa fa-check-square"></i>
							{% else %}
								<i class="fa fa-check-square-o"></i>
							{% endif %}
						</td>
						<td class="center">
							<a href="edit.php?id={{ driver.id }}"
							   class="edit">
								<i class="fa fa-pencil"></i>
							</a>
						</td>
						<td class="center">
							<a href="index.php?delete_id={{ team.id }}&action=delete&page={{ page }}"
							   class="alert error"
							   title="Are you sure you want to delete this Driver?">
								<i class="fa fa-times-circle"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{{ pagination|raw }}
		{% else %}
			<p>There are currently no Drivers added</p>
		{% endif %}
	</form>

{% endblock %}