<ul class="tabnav el">
	<li class="{{ self == '/plugins/DriverProfiles/admin/drivers/index.php'
	or (self == '/plugins/DriverProfiles/admin/drivers/edit.php' and id is empty) ? 'selected' : '' }}">
		<a href="/plugins/DriverProfiles/admin/drivers/index.php">Manage</a>
	</li>
	<li class="{{ self == '/plugins/DriverProfiles/admin/drivers/edit.php' and id is not empty ? 'selected' : '' }}">
		<a href="/plugins/DriverProfiles/admin/drivers/edit.php">Add</a>
	</li>
</ul>