{% extends 'layouts/default.twig' %}

{% block content %}

	<div class="contentPageWrap">
		<div class="contentSidebar">
			{% if teams|length %}
				<ul>
				{% for team in teams %}
					<li>{{ team.name }}</li>
				{% endfor %}
				</ul>
			{% endif %}
		</div>
		<div class="contentWrap">
			<div class="driver_card">
				{% if teams|length %}
					<ul>
						{% for team in teams %}
							{% for driver in team.drivers %}
								<li>{{ driver.name }}</li>
							{% endfor %}
						{% endfor %}
					</ul>
				{% endif %}
			</div>
		</div>
	</div>

{% endblock %}