{% extends 'layouts/admin.twig' %}

{% block content %}

	<ul class="breadcrumbs el">
		<li><a href="/admin/">Home</a> /</li>
		<li class="end">{{ page_meta.title }}</li>
	</ul>

	<h1>{{ page_meta.title }}</h1>
	{% include 'DriverProfiles/admin/teams/tabnav.twig' %}

	{% include 'admin/messages.twig' %}

	<form action="" method="post">
		{% if teams|length > 0 %}
			<table class="manage-items">
				<tr>
					<th>
						Name
					</th>
					<th>
						Image
					</th>
					<th>
						Drivers
					</th>
					<th>
						Visible
					</th>
					<th class="center">
						Edit
					</th>
					<th class="center">
						Delete
					</th>
				</tr>
				<tbody class="tabular">
				{% for team in teams %}
					<tr>
						<td>
							<a href="edit.php?id={{ team.id }}">
								{{ team.name }}
							</a>
						</td>
						<td>
							{% if team.image|length %}
							<img src="/{{ thumbnail_path }}/{{ team.image }}" alt="">
							{% endif %}
						</td>
						<td>
							{% if team.drivers.count > 0 %}
							<a href="/plugins/DriverProfiles/admin/drivers/index.php?list={{ team.id }}">{{ team.drivers.count|number_format }}</a>
							{% else %}
								0
							{% endif %}
						</td>
						<td>
							{% if team.visible %}
								<i class="fa fa-check-square"></i>
							{% else %}
								<i class="fa fa-check-square-o"></i>
							{% endif %}
						</td>
						<td class="center">
							<a href="edit.php?id={{ team.id }}"
							   class="edit">
								<i class="fa fa-pencil"></i>
							</a>
						</td>
						<td class="center">
							<a href="index.php?delete_id={{ team.id }}&action=delete&page={{ page }}"
							   class="alert error"
							   title="Are you sure you want to delete this Team?">
								<i class="fa fa-times-circle"></i>
							</a>
						</td>
					</tr>
				{% endfor %}
				</tbody>
			</table>
			{{ pagination|raw }}
		{% else %}
			<p>There are currently no teams added</p>
		{% endif %}
	</form>

{% endblock %}